<h1>아이디어 작성하기</h1>

<form action="/ideas/create/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <input name="title" placeholder="제목" required><br/>

    <input type="file" name="image"><br/>

    <textarea name="content" cols="30" rows="10" placeholder="내용" required></textarea><br/>

    <input type="number" name="interest" placeholder="관심도" value="0" min="0"><br/>

    <select name="devtool" required>
        <option value="">개발툴 선택</option>
        <option value="VSCode">VSCode</option>
        <option value="PyCharm">PyCharm</option>
        <option value="IntelliJ">IntelliJ</option>
        <option value="Eclipse">Eclipse</option>
        <option value="Other">Other</option>
    </select><br/>

    <div>
        <input type="submit" value="작성 완료">
    </div>
</form>
