<html>
    <head>
        <title>Garam's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Garam's Blog</a></h1>
        </div>

        <div>
            <p>published: 9.7,2025 16:15</p>
            <h2><a href="">My first post</a></h2>
            <p>안녕하세요 만나서 반갑습니다. 장고 어렵네요 ;;ㅋ ㅋ </p>
        </div>

        <div>
            <p>published: 9.7.2025, 16:16</p>
            <h2><a href="">My second post</a></h2>
            <p>굉장히 어렵지만 아무쪼록 화이팅,,,</p>
    </body>
</html>


